.About {
  background-image: url("/src/img/packing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
}

.block {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 100%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.link {
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
  font-family: "Arvo", serif;
  border-bottom: #de5e5a 2.5px solid;
  margin-right: 2rem;
}

.about_link1 {
  width: 13.9rem;
}

.about_link2 {
  width: 9.1rem;
}

.about_link3 {
  width: 15.9rem;
}

.about_link4 {
  width: 13.6rem;
}
.link:hover {
  color: #2ed370;
}

.title {
  font-family: "Arvo", serif;
  text-align: center;
  margin-top: 3rem;
  justify-content: center;
}
.About_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  width: 57.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  text-align: center;
  background: rgba(24, 24, 24, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

@media screen and (max-width: 1240px) {
  .text {
    width: 25rem;
  }
}
