/* body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
} */

.donBackround {
  background: #0e101c;
  height: 110vh;
  display: flex;
}

.Ingredient, #DonateMoney {
  margin-left: 6.5rem;
  max-width: 300px;
  background: #0e101c;
  display: inline-block;
}

#DonateMoney {
  margin-left: 33rem;
  max-width: 500px;
}

.donHeader {
  font-weight: 100;
  padding-bottom: 10px;
  color: #2ed370;
  border-bottom: 1px solid rgb(79, 98, 148);
  text-align: center;
}

.donInput {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid white;
  padding: 10px 15px;
}

label {
  color: white;
  margin-bottom: 13px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 2;
  text-align: left;
  font-weight: 200;
  display: block;
}

.donSubmit[type="button"],
.donInput[type="submit"] {
  background: #ec5990;
  color: white;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 20px;
  border: none;
  margin-top: 40px;
  font-size: 16px;
}

.donSubmit[type="button"]:hover,
.donInput[type="submit"]:hover {
  background: #bf1650;
}

.donSubmit[type="button"]:active,
.donInput[type="button"]:active,
.donInput[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.donInput:disabled {
  opacity: 0.4;
}

.donInput[type="button"]:hover {
  transition: 0.3s all;
}

.donSubmit[type="button"],
.donInput[type="button"],
.donInput[type="submit"] {
  -webkit-appearance: none;
}

.donSubmit[type="button"] {
  display: block;
  appearance: none;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  background: #333;
  color: white;
}

hr {
  margin-top: 30px;
}

.donSubmit {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  appearance: none;
  border: 1px solid #333;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 4px;
}

.required_val {
  color: red;
}

#submitButton {
  background-color: #35de7b;
  width: 35%;
  align-self: center;
  height: 35px;
  font-size: 18px;
  border-radius: 7px;
  margin-left: 110px;
  margin-top: 7px;
}

#submitButton:hover {
  background-color: #37ff88;
}

#submitButton:focus{
  outline: none !important;
  border-color: white;
  border-width: 2px;
}