* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.About,
.Problem,
.Facts,
.Help,
.What_Can_You_Do {
  display: flex;
  height: 90vh;
}

/* @import "./Nav.css"; */
@import "./Homepage.css";
@import "./Footer.css";
@import "./HomepageExtension.css";
@import "./Card.css";
@import "./pages/About.css";
/* @import "../components/pages/ProfilePages/Style/Navbar.css" */
